a(
  class='flex w-full items-center'
  class='px-2 py-px rounded hover:pointer hover:bg-white'
  class='hover:shadow-sm'
  href='{id}'
)
  .inline-flex.items-center(class='text-[0.9375rem] leading-[1.5rem] font-medium')
    span.font-mono.text-stone-400.font-normal .
    span.font-mono
      slot/
    span.font-mono.text-stone-400.font-normal ()